@{
    ViewData["Title"] = "Teams";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Mumbai Indians <span>(2013, 2015, 2017, 2019)</span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_mumbai.png" alt="Mumbai Indians">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Chennai Super Kings <span>(2010, 2011, 2018)</span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_chennai.png" alt="Chennai Super Kings">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Kolkata Knight Riders <span>(2012, 2014)</span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_kolkata.png" alt="Kolkata Knight Riders">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Sunrisers Hyderabad <span>2016</span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_hyderabad.png" alt="Sunrisers Hyderabad">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Rajasthan Royals <span>2008</span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_rajasthan.png" alt="Rajasthan Royals">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Delhi Capitals <span></span>
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_delhi.png" alt="Delhi Capitals">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Kings XI Punjab
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_punjab.png" alt="Kings XI Punjab">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title" id="cardTitle">
                    Royal Challengers Banglore
                </div>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="~/img/IPL_banglore.png" alt="Royal Challengers Banglore">
            </div>
        </div>
    </div>
</div>

